.sticky-cta {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.sticky-button {
    padding: 14px 28px;
    font-size: 1rem;
    background: #e53935;
    color: white;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(229, 57, 53, 0.3);
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;

}

.sticky-button:hover {
    background: #ff4c4c;
}

/* мобільна адаптація */
@media (max-width: 768px) {
    .sticky-cta {
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        background: rgba(0, 0, 0, 0.9);
    }

    .sticky-button {
        width: 90%;
        border-radius: 10px;
    }
}
